
@{
    ViewData["Title"] = "Index";
}



<header>
  <h2>zanhzanh Group</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="~/trang-chu">Bản thân</a></li>
      <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
   
    </ul>
  </nav>
  
  <article>
       <table>
           <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
           </thead>
           <tbody>
            <tr>
                <td>1</td>
                <td>182041057</td>
                <td>Trần Nguyễn Nhật Thiên</td>
            </tr>
                <tr>
                    <td>2</td>
                    <td>1822041055</td>
                    <td>Nguyễn Quốc Đạt</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1822041104</td>
                    <td>Lâm Gia Kiệt</td>
                </tr>
                
           </tbody>
       </table>
    </article>
</section>

<footer>
  <p>Copyright &copy; Tran Nguyen Nhat Thien - @DateTime.Now.Year</p>
</footer>


